<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hangman</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="myHeader">
      <div class="profile">
        Esate prisijungę: {% for visitor_name in current_user.get_name() %}
        <span>{{visitor_name}}</span>
        {% endfor %} {% for visitor_surname in current_user.get_surname() %}
        <span>{{visitor_surname}}</span>
        {% endfor %}
        <a href="{{url_for('logout')}}">Atsijungti</a>
      </div>
    </header>
    <nav class="menubar">
      <ul>
        <li class="active">
          <a href="{{ url_for('profile') }}">PROFILIS</a>
        </li>
        <li class="active">
          <a href="{{ url_for('hangman') }}">ŽAISTI DAR</a>
        </li>
        <li class="active">
          <a href="#">STATISTIKA</a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="pageBlock">
        <div class="pageAdBaner">
          <div class="advertising">ADVERTISING (970x90)</div>
        </div>
        <!-- HANGMAN BLOCK PRADZIA -->
        <div class="pageTitle">
          <h2>
            <center><strong>HANGMAN</strong></center>
          </h2>
          <p>
            <center>
              You can shot or hang Putin and russism if speak in lithuanian!
            </center>
          </p>
        </div>
        <div class="hangmanBlock">
          <div class="gameBlOne">
            Crimes:
            <div>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/smolensk.jpg')}}"
                width="48%"
                height="48%"
              ></image>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/georgia.jpg')}}"
                width="48%"
                height="48%"
              ></image>
            </div>
            <div>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/litvinenko.jpg')}}"
                width="48%"
                height="48%"
              ></image>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/ukraina.jpg')}}"
                width="48%"
                height="48%"
              ></image>
            </div>
            <div></div>
            <div></div>
          </div>
          <div class="gameBlOne" style="background-color: rgb(1, 87, 57);">
            <center><img src="{{tries}}" /></center>
          </div>
          <div class="gameBlOne">
            History:
            <div>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/mussolini.jpg')}}"
                width="48%"
                height="48%"
              ></image>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/hussein.webp')}}"
                width="48%"
                height="48%"
              ></image>
            </div>
            <div>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/Gaddafi.webp')}}"
                width="48%"
                height="48%"
              ></image>
              <image
                target="_blank"
                src="{{url_for('static',filename = 'images/who.png')}}"
                width="48%"
                height="48%"
              ></image>
            </div>
          </div>
        </div>
        <!-- HANGMAN BLOCK PABAIGA -->
        <!-- WORD FIELD PRADZIA -->
        <div class="wordsField">
          <div class="inputChar">
            <form action="{{ url_for('add_char') }}" method="post">
              <div>
                <label>Įveskite raidę:</label>
                <div>
                  <input type="text" maxlength="1" name="letter" />
                </div>
              </div>
              <p><button class="enter" type="submit">Patvirtinti</button></p>
            </form>
          </div>
          <div class="wordInLetter">
            {% for item in to_display %}
            <span>{{item}}</span>
            {% endfor %}
          </div>
          <div class="letterList">
            Nepanaudotos raidės: {% for i in word_set %}
            <span>{{i}}</span>
            {% endfor %}
          </div>
        </div>
        <!-- WORD FIELD PABAIGA -->
        <div></div>
        <div>
          <div></div>
        </div>
      </div>
    </main>

    <footer class="footerstyle">
      <ul>
        <div><p>© Copyright 2022 RomzisDoo</p></div>
      </ul>
    </footer>
  </body>
</html>
